exportPattern("^[[:alpha:]]+")
importFrom("stats", "aggregate", "na.omit")
importFrom("utils", "read.csv")
import("scales")
import("gtable")
import("data.table")
import("tidyr")
import("grid")
import("gridExtra")
import("ggplot2")
