/* bottomNav.module.css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.navLink {
  color: #8b6c5c;
  font-weight: bold;
}

.navLink:hover {
  color: #e3ccb4;
  font-weight: bold;
  transition: ease-in 0.3s;
}

.navbar {
  background-color: #1D2E28;
  padding: 0px 20px; /* Separate padding for home and github text */
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center vertically */
  gap: 40px;
  min-height: 70px;
}

.logo {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-right: 200px; /* Adjusted padding for the logo */
}

.logo img {
  width: 55px; /* Adjust the width of the logo image */
  height: auto; /* Maintain aspect ratio */
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

@media screen and (max-width: 780px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    background-color: #120f0b;
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: absolute;
    flex-direction: column;
    gap: 0;
    bottom: 0;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-color: #e3ccb4;
    padding: 10px;
  }

  .navMenu.active {
    left: 0;
    bottom: -70px;
  }

  .navMenu li {
    margin: 16px 0;
  }
}
