/* Styles for the main dashboard body */
.dashboardBody {
  background-color: #f7f0ea;
  width: 100vw;
  display: flex;
}

/* Container for the dashboard navigation box */
.dashboardNavBox {
  display: flex;
  width: 100%;
}

/* Main content area */
.mainContent {
  flex: 1;
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: flex-start; /* Aligns content to the top */
}

/* Content wrapper */
.contentWrapper {
  width: 100%;
  max-width: 1200px; /* Optional: Limit the maximum width */
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Left side of the navigation */
.dashboardNavLeft {
  flex: 1;
  text-align: center;
}

/* Main content area of the dashboard */
.dashboardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Box containing the plot elements */
.plotBox {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 50px; /* Increased margin to accommodate labels */
}

/* Wrapper for the upload buttons and controls */
.uploadButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

/* Horizontal buttons */
.horizontalButtons {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to next line if necessary */
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

/* Styling for custom file buttons */
.customFileButton {
  background-color: #2c6fbb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.customFileButton:hover {
  background-color: #1c4f8b;
}

/* Disabled button style */
.customFileButton:disabled,
.disabledButton {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Hide default file input */
.fileInput {
  display: none;
}

/* Vertical controls */
.verticalControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

/* Label text */
.labelText {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
  text-align: center;
}

/* Input wrapper */
.inputWrapper {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

/* Graph input fields */
.graphInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
}

/* Alert message */
.alertMessage {
  background-color: #ffcccc;
  color: #a94442;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modalDownloadButton,
.modalCloseButton {
  background-color: #2c6fbb;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

.modalDownloadButton:hover,
.modalCloseButton:hover {
  background-color: #1c4f8b;
}

.downloadButtonWrapper {
  margin-top: 15px;
}

/* Download button */
.downloadButton {
  background-color: #3A5A40;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.downloadButton:hover {
  background-color: #2c6f8b;
}

/* Dropdown for graph type and resolution */
.graphTypeDropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
}

/* Warning Modal */
.warningModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.warningModalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.warningCloseButton {
  background-color: #2c6fbb;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.warningCloseButton:hover {
  background-color: #1c4f8b;
}

/* Styles for LifeFormColorAssignment component */
.lifeFormColorAssignment {
  margin-top: 20px;
  width: 80%;
}

/* Life form assignment row */
.lifeFormAssignmentRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Life form input */
.lifeFormInput {
  padding: 5px;
  margin-right: 10px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Color picker */
.colorPicker {
  width: 40px;
  height: 30px;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Life form buttons */
.lifeFormButtons {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.moveButton,
.deleteButton,
.addLifeFormButton {
  background-color: #2c6fbb;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 4px;
}

.moveButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.moveButton:hover:not(:disabled),
.deleteButton:hover,
.addLifeFormButton:hover {
  background-color: #1c4f8b;
}

/* Styles for TaxaLifeFormAssignment component */
.taxaLifeFormAssignment {
  margin-top: 20px;
  width: 80%;
}

.assignmentTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.assignmentTable th,
.assignmentTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.assignmentTable th {
  background-color: #f2f2f2;
}

.lifeFormDropdown {
  padding: 5px;
  border-radius: 4px;
  width: 100%;
}

.assignmentButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.assignmentButtons .customFileButton {
  margin: 0 10px;
}

/* Styles for TaxaSelection component and life form group container*/
.taxaSelection {
  margin-bottom: 20px;
}

.taxaTable {
  width: 100%;
  border-collapse: collapse;
}

.taxaTable th,
.taxaTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.taxaTable th {
  background-color: #f2f2f2;
}

.lifeFormGroup {
  margin-bottom: 16px;
}

.taxaItem {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.moveButton {
  padding: 4px 8px;
  margin-bottom: 2px;
}

.checkboxWrapperColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
}


.checkboxLabel {
  margin-top: 4px;
}

.taxaName {
  flex: 1;
  margin-left: 8px;
}

/* Additional styles for better responsiveness */
@media (max-width: 768px) {
  .horizontalButtons {
    flex-direction: column;
    align-items: center;
  }

  .verticalControls {
    width: 100%;
  }

  .graphInput {
    width: 90%;
  }

  .assignmentTable th,
  .assignmentTable td {
    font-size: 14px;
  }
}

/* Rotate tick labels */
.plotly .xtick text {
  transform: rotate(-45deg);
  text-anchor: end;
}

.controlsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between the columns */
  margin-top: 20px;
}

.controlsColumn {
  flex: 1; /* Each column takes equal space */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between controls within a column */
}

.controlsHeader {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.controlGroup {
  display: flex;
  flex-direction: column;
}

.labelText {
  font-weight: bold;
  margin-bottom: 5px;
}

.graphInput {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Center the overall assignment component */
.taxaLifeFormAssignmentWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.taxaLifeFormAssignment {
  width: 60%; /* Adjust width as needed */
}

.taxaTitle {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  white-space: nowrap; /* Ensure title stays on one line */
}

.taxaLifeFormTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.taxaLifeFormTable th,
.taxaLifeFormTable td {
  padding: 10px;
  text-align: left;
}

.headerTaxa,
.headerLifeForm {
  text-align: center; /* Ensure column headers are centered */
}

.lifeFormSelect {
  width: 150px; /* Adjust this to ensure more words are visible */
  min-width: 150px; /* Prevent dropdown from collapsing */
  max-width: 200px;
  padding: 5px;
}

.taxaLifeFormTable th {
  white-space: nowrap; /* Prevent header titles from wrapping */
  font-weight: bold;
}
.addLifeForm {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between input, color picker, and button */
  margin-top: 10px;
}

.lifeFormInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  font-size: 14px;
}

.colorPicker {
  width: 40px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.addLifeFormButton {
  background-color: #2c6fbb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.addLifeFormButton:hover {
  background-color: #1c4f8b;
}

.addLifeFormButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.hideButton {
  background-color: #d9534f; /* Red color for hide buttons */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.hideButton:hover {
  background-color: #c9302c; /* Darker red on hover */
}
.graphingToolsWrapper {
  margin-top: 20px;
  text-align: center;
}

.graphingToolsTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
/* Control group container */
.controlGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Adjust to increase or decrease space */
  gap: 5px; /* Space between the label and the input field */
}

/* Label text for controls */
.labelText {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px; /* Space below the label */
  text-align: center; /* Center-align text if necessary */
}

/* Graph input fields and dropdowns */
.graphInput {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Adjusts to fit within the container */
  text-align: center; /* Center text within dropdowns or inputs */
}

/* Styles for the Reverse Y-Axis checkbox */
input[type="checkbox"] {
  width: 20px;  /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  vertical-align: middle; /* Center-align the checkbox */
  cursor: pointer; /* Change cursor to pointer on hover */
}
/* Container for Reverse Y-Axis */
.reverseYAxisContainer {
  display: flex;
  align-items: center; /* Vertically center the label and checkbox */
  justify-content: center; /* Center horizontally within the container */
  gap: 10px; /* Space between label and checkbox */
  width: 100%; /* Ensure full container width */
}

/* Checkbox styles for size consistency */
.reverseYAxisCheckbox {
  width: 20px;  /* Adjust width */
  height: 20px; /* Adjust height */
  cursor: pointer;
}