.table {
  width: 60%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid black;
  padding: 2px 8px; /* Reduced padding for more compact table */
  text-align: center; /* Centers all content */
}

.table th {
  background-color: #3A5A40;
  color: white;
}

/* Compact Date Created and ID columns */
.table .id-column {
  width: 5px; 
}

.table .date-column {
  width: 40px; 

}

.table .csv-column {
  width: 40px; 
}

.table .graph-column {
  width: 10px; 
}

.table .graph-btn {
  background-color: #2c6fbb;
  border: none; 
  color: white; 
  font-size: 15px; /* Smaller font for compactness */
  cursor: pointer; 
}

.table .graph-btn:hover {
  background-color: #3A5A40;
  color: black; 
}

.csv-link {
  color: #2c6fbb;
  text-decoration: underline;
}

.csv-link:hover {
  color: #1a4b72;
}
