.homePageBody {
  background-color: #f7f0ea;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  padding: 50px 0;
}
.homeTitle {
  margin-bottom: 0;
  padding-bottom: 50px;
}
.homeText {
  padding: 20px;
}
.homeDescrip {
  width: 100vw;
  padding: 50px;
}
.columnsContainer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 100px;
}
.textColumn {
  flex: 1;
  padding-right: 20px;
}
.imageColumn {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-left: 20px;
}
.BulletHeading {
  padding: 20px;
}
.bulletPoints {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}
.bulletPoints li {
  margin-bottom: 10px;
}
.imageSample {
  height: auto;
  max-width: 100%;
}
.BottomHeading{
  text-align: center;
  width: 100%;
  font-size: 32px;
}