{% autoescape off %}
<p>Hi {{ user.get_username }},</p>

<p>You're receiving this email because you requested a password reset for your account.</p>

<p>Please click the link below to reset your password:</p>
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Reset Your Password
</a>

<p>If you didn't request this change, you can safely ignore this email.</p>

<p>Thanks for using our site!</p>

<p>Best regards,<br>Palyoplot Team</p>
{% endautoescape %}
