/* dashboardPage.module.css */

.dashboardBody {
  background-color: #f7f0ea;
  width: 100vw;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.dashboardNavBox {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: center; /* Center items horizontally */
  width: 100%; /* Full width */
}

.plotBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboardNavLeft {
  flex: 1; /* Take up all available space */
  text-align: center; /* Center text */
}

.dashboardContent {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */
  width: 100%; /* Full width */
}

.dashboardText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adjusted padding for better spacing */
}

.dashboardRecentText {
  font-size: 25px;
  padding-top: 15px;
}

.dashboardGraphPrev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.dashboardGraphPrev img {
  width: 150px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out; /* Smooth transition for the transformation */
}

.dashboardGraphPrev img:hover {
  animation: zoomIn 0.3s forwards; /* Apply the zoomIn animation on hover */
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.dashboardGraphPrev span {
  background-color: #3A5A40;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.imageSample {
  max-width: 100%;
  height: auto;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.horizontalButtons {
  display: flex;
  justify-content: center; /* Center these buttons horizontally */
  width: 100%; /* Take full width to spread out if needed */
}

.verticalControls {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align to match horizontal buttons */
  width: 100%; /* Ensures it aligns directly under the horizontal buttons */
  margin-top: 10px; /* Space above the input field */
}

.uploadButton {
  background-color: #2c6fbb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* Ensures space between "Upload CSV File" and "Save Results" */
}

.uploadButton:hover {
  background-color: #1c4f8b;
}

.uploadButtonWrapper {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Aligns items horizontally to the center */
  width: 100%; /* Ensures it takes the full width of its container */
  margin-top: 20px; /* Adds some space between the image and the buttons */
}

.graphTypeDropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Set the width to fill the available space */
  margin-top: 10px; /* Space above dropdown */
}

.dropdownWrapper {
  text-align: left;
  width: 100%; /* Full width to align with button group above */
}

.inputWrapper {
  text-align: left;
  width: 100%; /* Full width to align with other form elements */
  margin-top: 10px; /* Space above the input field */
}

.graphInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%; /* Match dropdown width for consistency */
  margin-top: 10px; /* Space above dropdown */
}

.contentWrapper {
  width: 100%;
  margin-top: 30px; /* Space from the top navbar, only applied to the main content excluding the side navbar */
}