.dashboardBody {
  background-color: azure;
  width: 100vw;
}
.dashboardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.dashboardText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-top: 20px;
}

.dashboardNavBox {
  display: flex;
  align-items: center;
}

.plotBox {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

.dashboardNavLeft {
  flex: 1;
  text-align: center;
}

.dashboardUpload {
  align-items: center;
  background-color: #646cff;
  color: white;
  margin-bottom: 20px;
}

.dashboardRecentText {
  align-items: center;
  font-size: 25px;
  padding-top: 15px;
}

.dashboardGraphButtons {
  background-color: #646cff;
  color: white;
  margin: 0 10px;
}

.dashboardGraphPrev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.dashboardGraphPrev img {
  width: 150px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 5px;
}

.dashboardGraphPrev span {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}


.imageSample {
  height: auto;
  max-width: 100%;
}

.uploadButton {
  width: 35%; /*Adjusted width for side-by-side buttons*/
  padding: 0.6em;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.25s;
  margin-right: 0%;
}

.uploadButton:hover {
  background-color: #535bf2;
}
