

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 250px;
  background-color: #f7f0ea; /* Set the background color for the homepage */
}

.loginTitle {
  color: #120f0b;
  margin-bottom: 1em;
}

.loginForm {
  width: 100%;
  max-width: 500px;
  padding: 1em;
  margin: 1em;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 2em;
}

.loginLabel {
  color: #120f0b;
  display: block;
  margin-bottom: 0.5em;
  text-align: left; /* Align the labels to the left */
  font-weight: bold;
}

.loginInput,
select {
  color: #120f0b;
  background-color: #ffffff;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
  font-size: 16px; /* Increase font size */
}


.loginButton,
.registerButton {
  width: 49%;
  padding: 0.6em;
  background-color: #2c6fbb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.25s;
  margin-right: 2%;
}

.loginButton:hover,
.registerButton:hover {
  background-color: #2c6fbb;
}

.registerButton {
  margin-right: 0;
}


