<!DOCTYPE html>
<html lang="en">
<head>
 <!-- WIP -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done</title>
    <script type="text/javascript">
        // Redirect to the home page after 3 seconds
        setTimeout(function(){
            window.location.href = "/"; // Adjust the URL if necessary
        }, 3000);
    </script>
</head>
<body>
    <h2>Check Your Email</h2>
    <p>THIS IS A TEST</p>
    <p>If an account with the provided email exists, you’ll receive an email with instructions to reset your password.</p>
    <p>You will be redirected to the home page shortly.</p>
</body>
</html>
